.gapminder

  width:100%

  text
    font: 10px sans-serif
  
  .dot
    stroke: #000
    pointer-events: all
    cursor: resize

  .dot:hover
    stroke: #a55
    stroke-width: 2

  .axis path, .axis line
    fill: none
    stroke: #000
    shape-rendering: crispEdges
  
  .label
    fill: #777
  
  .date.label
    font: 136px "Helvetica Neue"
    fill: #cdd
    transition: fill .2s
  
  .year.label.active
    fill: #acc
    transition: fill .2s
  
  .overlay
    fill: none
    pointer-events: all
    cursor: ew-resize

  .grid .tick
    stroke: lightgrey
    opacity: 0.2
  
  .grid path
    stroke-width: 0;


  .axis
    cursor: pointer

