body, html {
	background: white;
	color: black;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#mithril-target {
	height: 100%;
	margin: 0 auto;
}

.loading {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 30%;
	bottom: 0;
}
.hidden {
	display: none;
}

// Theming
* {
	--mdc-theme-primary: #f44;
	--mdc-theme-secondary: #a62;
	--mdc-theme-secondary: #ee6420;
	--mdc-theme-error: #dd4433;
	--mdc-theme-on-error: #ffa;
}

// Fixes focused floating label color not taking custom theme's colors
.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control:focus ~ .mdc-floating-label,
.mdc-text-field--focused:not(.mdc-text-field--disabled) label.mdc-floating-label,
.mdc-text-field--focused:not(.mdc-text-field--disabled) input::placeholder
{
	color: var(--mdc-theme-primary) !important;
}
// Fixes select's helper-text looking like text-field's
.mdc-select:not(.mdc-select--disabled) + .mdc-text-field-helper-text {
    color: rgba(0, 0, 0, 0.6);
}
.mdc-select + .mdc-text-field-helper-text {
    margin-right: 12px;
    margin-left: 12px;
}
.mdc-select + .mdc-text-field-helper-text {
    margin-bottom: 8px;
}

// Fixes select's 'required' marker looking like for text-field's
.mdc-select__native-control:required + .mdc-floating-label::after {
    margin-left: 3px;
    content: "*";
}

// Fixes firefox focus ring
// TODO: @-moz-document url-prefix() {
.mdc-select, select, select:-moz-focusring, select::-moz-focus-inner {
   color: transparent !important;
   text-shadow: 0 0 0 #000 !important;
   background-image: none !important;
   border:0;
}

// Tab panels
[role="tabpanel"][aria-hidden='true'] {
    display: none;
}

// Still seeing the current tab in showall mode
[role="tabpanel"][aria-hidden='false']:not(.active) {
    opacity: .5;
}

// Debugging aid
.inspector:hover,
.inspector.shown {
    background-color: #eef;
    width: 20em;
    opacity: .7;
}
.inspector pre {
    position: absolute;
    bottom: 4ex;
    padding: 1ex;
    background-color: #fafaff;
}
.inspector {
    z-index: 1000;
    background-color: #fafaaa;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: .1;
    color: #002;
    width: 1px;
    overflow: visible;
    margin: 5px;
    vertical-align: bottom;
    transition: width 1s, opacity 1s;
}

h1, h2 {
	color: var(--mdc-theme-primary);
}

.orange {
    color: #aa4 !important;
}
.red {
    color: red !important;
}
.green {
    color: green !important;
}

box()
	display: inline-flex
	flex-wrap: nowrap
	align-items: stretch // Items in main dir
	align-content: stretch // Wrap direction
	> *
		overflow: auto
		display: block
		flex: 1 1 auto

hbox()
	box()
	flex-direction: row
	//outline: 1pt dashed red;

vbox()
	box()
	flex-direction: column
	//outline: 1pt dashed green;

input
button
select
	background: white
	color: #333
.stretch
	flex: 1 1 auto
	//outline: 1pt red solid
.vbox
	vbox()
.hbox
	hbox()

.app
	vbox()
	margin: 0
	padding: 0
	width: 100%
	max-width: 100%
	height: 100%
	max-height: 100%
	min-height: 100%
	max-width: 100vw
	width: 100vw
	max-height: 100vh
	min-height: 100vh
	height: 100vh

.topbar
	background: var(--mdc-theme-primary)
	color: white
	flex: 0 0 auto
	h1
		font-size: 140%
		color: white
		padding: 0 1ex
		margin: 0 0

.scenariochooser
	flex: 0 0 auto

.appbody
	hbox()


.hemicycles
	vbox()
	min-width: 390px
	overflow-x: none
	overflow-y: auto
	justify-content: space-between

.hemicycle
	margin: 0px
	min-width: 350px
	min-height: 175px
	max-width: 400px
	flex: 1 1 auto
	.sectorlabel
		white-space: pre-line

.leftpane
	vbox()
	overflow-y: none
	> *
		flex: 1 0 auto
	> h3
		flex: 0 0 auto

.transferwidget
	hbox()
	width: 100%
	align-items: stretch
	align-content: stretch
	flex-wrap: wrap
	flex: 0 0 auto
	overflow: hidden
	//outline: 2pt solid red
	> *
		//outline: 2pt solid red
		flex: 1 0 auto
	> .transferbuttons
		flex: 0 0 auto
		hbox()
		align-items: center
		overflow: hidden
		> div
			flex 1 0 auto
		*
			overflow: hidden

.dhondtbars
	margin: 0
	padding: 0
	min-height: 12em
	flex: 1 1 auto
	overflow-x: auto
	overflow-y: auto
	//outline: 1pt solid green
	svg
		margin: 0
		padding: 0
		width: 100%
		height: 99%
		min-height: 500px
		min-width: 400px
		.grid.votes
			line
				stroke: lightgray
				opacity: 50%
			.domain
				stroke: none
		.grid.seats
			line
				stroke: lightgreen
				opacity: 50%
				stroke-dasharray: 2,2
		.label.price
			fill: lightgreen
			line
				stroke: lightgreen
		line.threshold
			stroke: red
		.label.threshold
			fill: red
			stroke: red
			line
				fill: red
	text.shadow
		stroke-width: 3
		stroke: #555
		opacity: 50%


.dhondttable
	min-height: 8em
	flex: 1 1 auto
	overflow-x: auto
	overflow-y: auto

	> table
		margin-left: auto
		margin-right: auto

		> tr:hover
			outline: 1pt yellow solid
			background: #ff05
		> tr
			> th
				background: #eee
			> th.candidature
				color: white
				white-space: nowrap
				padding: 0 5pt
			> td
				text-align: right
			> td.taken
				background: #abf
				color: white
			> td.under
				color: grey
			> td.thresholded.under
				background: #ddd
				color: white
			> td.last
				color: red
			> td.selection
				color: var(--mdc-theme-primary)
				font-weight: bold
.info
	hbox()
	flex: 0 0 auto
	flex-wrap: wrap
	> div
		display: flex
		margin: 0 1ex



// vim: noet
